body {
  background: #00091b;
  color: #fff;
  overflow-x: hidden;
}

.pLogo {
  width: 100px;
  height: 100px;
  /* margin-left: 50%; */
  /* margin-right: 50%; */
  /* margin-right: 50px; */
}

.clientLogo {
  height: 20px;
  /* heighst: 10vh; */
  /* width:vh; */
  /* width: 10vh; */
  /* aspect-ratio: 1; */
  flex: 1;
}

.clientLogoWraper {
  /* margin-top: 70px; */
  display: flex;
  flex-direction: row;
  height: 10vh;
  margin-top: 10vh;
  width: 98vw;

  /* overflow-x: hidden; */
}

@media screen and (max-width: 665px) {
  .clientLogoWraper {
    flex-direction: column;
  }
}

.logoWrapper {
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  display: flex;
}

@keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 100;
    opacity: 1;
  }
}

.TextWrap {
  text-align: center;
  /* overflow-x: hidden; */
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
  /* overflow-x: hidden; */
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #4febfe;
}

p {
  text-align: center;
  margin: 18px;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}
